/* Style the HTML elements according to the following instructions. 
DO NOT ALTER THE EXISTING HTML TO DO THIS.  WRITE ONLY CSS!

/* Give the <body> element a background of #bdc3c7* done/ 
/* Make the <h1> element #9b59b6* done/ 
/* Make all <h2> elements orange *done/
/* Make all <li> elements blue(pick your own hexadecimal blue)* done/ 
/*Change the background on every paragraph to be yellow* done/
/*Make all inputs have a 3px red border* done/
/* Give everything with the class 'hello' a white background* done/
/* Give the element with id 'special' a 2px solid blue border(pick your own rgb blue)* done/
/*Make all the <p>'s that are nested inside of divs 25px font(font-size: 25px)* done/
/*Make only inputs with type 'text' have a gray background* done/
/* Give both <p>'s inside the 3rd <div> a pink background* done/
/* Give the 2nd <p> inside the 3rd <div> a 5px white border* done
/* Make the <em> in the 3rd <div> element white and 20px font(font-size:20px)* done/

/*BONUS CHALLENGES*/
/*You may need to research some other selectors and properties*/
/*Make all "checked" checkboxes have a left margin of 50px(margin-left: 50px)*/
/* Make the <label> elements all UPPERCASE without changing the HTML(definitely look this one up*/
/*Make the first letter of the element with id 'special' green and 100px font size(font-size: 100)*/
/*Make the <h1> element's color change to blue when hovered over */
/*Make the <a> element's that have been visited gray */

body
{
    background-color: #bdc3c7;
}

h1
{
    color: #9b59b6;
}

h2
{
    color: orange;
}

li
{
    color: #0549af;
}

p
{
    background-color: yellow;
}

input
{
    border: 3px solid red;
}

.hello
{
    background-color: white;
}

#special
{
    border: 2px solid rgb(0, 204, 255);
}

div p
{
    font-size: 25px;
}

input[type="text"]
{
    background-color: gray;
}

div:nth-of-type(3) p
{
    background-color: pink;
}

div:nth-of-type(3) p:nth-of-type(2)
{
    border: 3px solid white;
}

div:nth-of-type(3) p em
{
    color: white;
    font-size: 20px;
}